* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

table {
    width: 50%;
    margin-top: 50px;
    background-color: rgb(242, 242, 242);
}

tr :nth-child(1) {
    padding: 7px;
    width: 80px;
}
tr :nth-child(2) {
    padding: 7px;
}

tr td {
    padding: 5px;
}

.topp {
    position: fixed !important;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(222, 222, 222) !important;
}

.progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #6d6d6d !important;
}

.progress-bar {
    position: relative;
    width: 0%;
    padding-left: 0%;
    background-color: blue !important;
    color: #fff !important;
}